* {
  margin: 0;
  padding: 0;
}

h1::before {
  content: '';
  background-color: #FFF;
  height: 2px;
  position: relative;
  top: -2.5px;
  width: 50px;
}

h1::after {
  content: '';
  background-color: #FFF;
  height: 2px;
  position: relative;
  top: -2.5px;
  width: 50px;
}